main h3{
    width: 100%;
    text-align: center;
    font-size: 0.2rem;
    font-weight: 200;
    margin: 0.1rem 0;
}
main .table thead th,main .table tbody td{
    text-align: center;
    vertical-align: middle;
}