<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aqb.cn.mapper.CofMapper" >
  <resultMap id="BaseResultMap" type="com.aqb.cn.bean.Cof" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="cof_content" property="cofContent" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="found_date" property="foundDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, cof_content, status, found_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from cof
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cof
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.aqb.cn.bean.Cof" >
    insert into cof (id, user_id, cof_content, 
      status, found_date)
    values (#{id,jdbcType=CHAR}, #{userId,jdbcType=CHAR}, #{cofContent,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{foundDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.aqb.cn.bean.Cof" >
    insert into cof
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="cofContent != null" >
        cof_content,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="foundDate != null" >
        found_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=CHAR},
      </if>
      <if test="cofContent != null" >
        #{cofContent,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="foundDate != null" >
        #{foundDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aqb.cn.bean.Cof" >
    update cof
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="cofContent != null" >
        cof_content = #{cofContent,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="foundDate != null" >
        found_date = #{foundDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aqb.cn.bean.Cof" >
    update cof
    set user_id = #{userId,jdbcType=CHAR},
      cof_content = #{cofContent,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      found_date = #{foundDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>

  <select id="queryCof" parameterType="com.aqb.cn.common.QueryBase" resultMap="BaseResultMap">
    SELECT * FROM cof where user_id = #{parameters.userId}
    ORDER BY found_date  DESC
    LIMIT #{firstRow}, #{maxRow}
  </select>

  <select id="countCof" parameterType="com.aqb.cn.common.QueryBase" resultType="long">
    SELECT COUNT(*) FROM cof where user_id = #{parameters.userId}
  </select>

  <select id="queryCof_space" parameterType="com.aqb.cn.common.QueryBase" resultMap="BaseResultMap">
    select * from cof where user_id in
    (select user_id2 from user_friends
    where user_id = #{parameters.userId} and status = 2
    UNION
    select user_id from user_friends
    where user_id2 = #{parameters.userId} and status = 2)
  </select>

  <select id="countCof_space" parameterType="com.aqb.cn.common.QueryBase" resultType="long">
    SELECT COUNT(*) FROM cof where user_id in
    (select user_id2 from user_friends
    where user_id = #{parameters.userId} and status = 2
    UNION
    select user_id from user_friends
    where user_id2 = #{parameters.userId} and status = 2)
  </select>


</mapper>