<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aqb.cn.mapper.CofPicMapper" >
  <resultMap id="BaseResultMap" type="com.aqb.cn.bean.CofPic" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="cof_id" property="cofId" jdbcType="CHAR" />
    <result column="cof_pic_address" property="cofPicAddress" jdbcType="VARCHAR" />
    <result column="cof_pic_saddress" property="cofPicSaddress" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="found_date" property="foundDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cof_id, cof_pic_address, cof_pic_saddress, status, found_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from cof_pic
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from cof_pic
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.aqb.cn.bean.CofPic" >
    insert into cof_pic (id, cof_id, cof_pic_address, 
      cof_pic_saddress, status, found_date
      )
    values (#{id,jdbcType=CHAR}, #{cofId,jdbcType=CHAR}, #{cofPicAddress,jdbcType=VARCHAR}, 
      #{cofPicSaddress,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{foundDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aqb.cn.bean.CofPic" >
    insert into cof_pic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cofId != null" >
        cof_id,
      </if>
      <if test="cofPicAddress != null" >
        cof_pic_address,
      </if>
      <if test="cofPicSaddress != null" >
        cof_pic_saddress,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="foundDate != null" >
        found_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="cofId != null" >
        #{cofId,jdbcType=CHAR},
      </if>
      <if test="cofPicAddress != null" >
        #{cofPicAddress,jdbcType=VARCHAR},
      </if>
      <if test="cofPicSaddress != null" >
        #{cofPicSaddress,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="foundDate != null" >
        #{foundDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aqb.cn.bean.CofPic" >
    update cof_pic
    <set >
      <if test="cofId != null" >
        cof_id = #{cofId,jdbcType=CHAR},
      </if>
      <if test="cofPicAddress != null" >
        cof_pic_address = #{cofPicAddress,jdbcType=VARCHAR},
      </if>
      <if test="cofPicSaddress != null" >
        cof_pic_saddress = #{cofPicSaddress,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="foundDate != null" >
        found_date = #{foundDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aqb.cn.bean.CofPic" >
    update cof_pic
    set cof_id = #{cofId,jdbcType=CHAR},
      cof_pic_address = #{cofPicAddress,jdbcType=VARCHAR},
      cof_pic_saddress = #{cofPicSaddress,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      found_date = #{foundDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>

  <select id="queryCofPic" parameterType="com.aqb.cn.common.QueryBase" resultMap="BaseResultMap">
    SELECT * FROM cof_pic
    ORDER BY found_date  DESC
    LIMIT #{firstRow}, #{maxRow}
  </select>

  <select id="countCofPic" parameterType="com.aqb.cn.common.QueryBase" resultType="long">
    SELECT COUNT(*) FROM cof_pic
  </select>

  <select id="selectByCofId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from cof_pic where cof_id = #{cofId}
  </select>

  <!--<select id="selectByCofId" parameterType="String" resultMap="BaseResultMap">
    select * from cof_pic where cof_id = #{cofId}
  </select>
  -->

</mapper>