<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aqb.cn.mapper.RechargeOrderMapper" >
  <resultMap id="BaseResultMap" type="com.aqb.cn.bean.RechargeOrder" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="CHAR" />
    <result column="order_name" property="orderName" jdbcType="VARCHAR" />
    <result column="order_money" property="orderMoney" jdbcType="REAL" />
    <result column="money_id" property="moneyId" jdbcType="INTEGER" />
    <result column="yue_id" property="yueId" jdbcType="CHAR" />
    <result column="deposit_id" property="depositId" jdbcType="CHAR" />
    <result column="pay_status" property="payStatus" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="pay_type" property="payType" jdbcType="INTEGER" />
    <result column="found_date" property="foundDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, order_name, order_money, money_id, yue_id, deposit_id, pay_status, status,
    pay_type, found_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from recharge_order
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from recharge_order
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.aqb.cn.bean.RechargeOrder" >
    insert into recharge_order (id, user_id, order_name,
    order_money, money_id, yue_id,
    deposit_id, pay_status, status,
    pay_type, found_date)
    values (#{id,jdbcType=CHAR}, #{userId,jdbcType=CHAR}, #{orderName,jdbcType=VARCHAR},
    #{orderMoney,jdbcType=REAL}, #{moneyId,jdbcType=INTEGER}, #{yueId,jdbcType=CHAR},
    #{depositId,jdbcType=CHAR}, #{payStatus,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
    #{payType,jdbcType=INTEGER}, #{foundDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.aqb.cn.bean.RechargeOrder" >
    insert into recharge_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="orderName != null" >
        order_name,
      </if>
      <if test="orderMoney != null" >
        order_money,
      </if>
      <if test="moneyId != null" >
        money_id,
      </if>
      <if test="yueId != null" >
        yue_id,
      </if>
      <if test="depositId != null" >
        deposit_id,
      </if>
      <if test="payStatus != null" >
        pay_status,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="foundDate != null" >
        found_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=CHAR},
      </if>
      <if test="orderName != null" >
        #{orderName,jdbcType=VARCHAR},
      </if>
      <if test="orderMoney != null" >
        #{orderMoney,jdbcType=REAL},
      </if>
      <if test="moneyId != null" >
        #{moneyId,jdbcType=INTEGER},
      </if>
      <if test="yueId != null" >
        #{yueId,jdbcType=CHAR},
      </if>
      <if test="depositId != null" >
        #{depositId,jdbcType=CHAR},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=INTEGER},
      </if>
      <if test="foundDate != null" >
        #{foundDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aqb.cn.bean.RechargeOrder" >
    update recharge_order
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=CHAR},
      </if>
      <if test="orderName != null" >
        order_name = #{orderName,jdbcType=VARCHAR},
      </if>
      <if test="orderMoney != null" >
        order_money = #{orderMoney,jdbcType=REAL},
      </if>
      <if test="moneyId != null" >
        money_id = #{moneyId,jdbcType=INTEGER},
      </if>
      <if test="yueId != null" >
        yue_id = #{yueId,jdbcType=CHAR},
      </if>
      <if test="depositId != null" >
        deposit_id = #{depositId,jdbcType=CHAR},
      </if>
      <if test="payStatus != null" >
        pay_status = #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=INTEGER},
      </if>
      <if test="foundDate != null" >
        found_date = #{foundDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aqb.cn.bean.RechargeOrder" >
    update recharge_order
    set user_id = #{userId,jdbcType=CHAR},
      order_name = #{orderName,jdbcType=VARCHAR},
      order_money = #{orderMoney,jdbcType=REAL},
      money_id = #{moneyId,jdbcType=INTEGER},
      yue_id = #{yueId,jdbcType=CHAR},
      deposit_id = #{depositId,jdbcType=CHAR},
      pay_status = #{payStatus,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      pay_type = #{payType,jdbcType=INTEGER},
      found_date = #{foundDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>